<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>
<body>
<style>
  .row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .row img {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
  }

  .column {
    flex: 1; /* Equal width columns */
    margin: 0 10px;
    border: 1px solid #ccc; /* Adds a visible line around columns */
    padding: 10px;
    box-sizing: border-box;
  }

  .form-container {
    display: flex;
    gap: 1rem;
    margin: auto;
  }

  .form-column {
    flex: 1;
  }
</style>

    <h1>Game: {{ name }}, Chapter: {{ game_chapter }}, Round: {{ game_round }}</h1>
<hr>
<form method="post">
    {% csrf_token %}
    <button type="submit" name="submit_type" value="new_chapter">New chapter</button>
</form>
<form method="post">
    {% csrf_token %}
    <button type="submit" name="submit_type" value="new_round">New round</button>
</form>
<form method="post">
    {% csrf_token %}
    {{ new_player_action.as_p }}
    <button type="submit" name="submit_type" value="new_action">New action</button>
</form>
<hr>
<div>
  {% load static %}
  <h2>Cards In Hand:</h2>
  {% for player, row_images in cards_in_hand %}
  <h3>Player: {{ player }}</h3>
  <div class="row">
    {% for img in row_images %}
    <img src="{% static 'action_cards/'|add:img %}" alt="{{ img }}">
    {% endfor %}
  </div>
  {% endfor %}
</div>
<hr>
<div>
  {% load static %}
  <h2>Cards Played:</h2>
  {% for player, cards in cards_played %}
  <h3>Player: {{ player }}</h3>

  <!-- Column number row -->
  <div class="row">
    {% for row_images in cards %}
      <div class="column">
        <strong>Round: {{ forloop.counter }}</strong>
      </div>
    {% endfor %}
  </div>
  <!-- Images row -->
  <div class="row">
    {% for row_images in cards %}
    <div class="column">
      {% for img in row_images %}
      <img src="{% static 'action_cards/'|add:img %}" alt="{{ img }}">
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<hr>


<h2>Cards in play:</h2>
{% for row_images in rows_images %}
  <div class="row">
    {% for img in row_images %}
      <img src="{% static 'action_cards/'|add:img %}" alt="{{ img }}">
    {% endfor %}
  </div>
{% endfor %}
</body>
</html>