<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Menu" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>Welcome to your ArcCounter, {{ user_name }}</h1>
<body>
    <button type="button" onclick="location.href = '/games'">Games</button>
    <button type="button" onclick="location.href = '/new_game'">New Game</button>
    <button type="button" onclick="location.href = '/players'">Players</button>
    <button type="button" onclick="location.href = '/new_player'">New player</button>
    <button type="button" onclick="location.href = '/logout'">Logout</button>
</body>
</html>